body {
	margin: 0;
	padding: 0;
	background: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Montserrat', monospace;
	font-size: 14px;
	color: var(--foreground);
}

table {
	width: 100%;
	border: 1px solid var(--gray);
}

th {
	padding: 5px;
	border: 1px solid var(--gray);
}

td {
	padding: 5px;
	border: 1px solid var(--gray);
}

.download {
	color: var(--brightcyan);
}

.download:hover {
	color: var(--cyan);
}
