{% extends 'base.html' %}

{% block title %}Okulus Hub: Главная{% endblock %}

{% block content %}
	<h2 class='title'>Софт и скрипты</h2>
	<p>Все представлено в качестве ознакомления. Okulus Hub и его администраторы не несут ответственности за ваши действия</p>
	<hr>
	<br>
	<table>
		<tr>
			<th>Название</th>
			<th>Описание</th>
			<th>Ссылка</th>
		</tr>

		<tr>
			<td>Телеграм фишер-бот</td>
			<td>Телеграм бот для кражи сессий. Пользователь пишет боту, через кнопку отправляет ему номер телефона, бот запросит код и получает доступ к сессии.</td>
			<td><a href="https://t.me/okulus_hub/8" class='download'>Пост в нашем телеграм-канале</a></td>
		</tr>

		<tr>
			<td>SOCM Intelligence</td>
			<td>Набор инструментов для анализа социальных сетей</td>
			<td><a href="https://github.com/CScorza/SOCMIntelligence" class="download">GitHub</a></td>
		</tr>

		<tr>
			<td>DDoS Pack</td>
			<td>Набор из инструментов, программ, DDoS/DoS-утилит, скриптов, и мануалов по DoS/DDoS атакам</td>
			<td><a href="https://t.me/okulus_hub/192" class="download">Пост в нашем телеграм-канале</a></td>
		</tr>

		<tr>
			<td>DDoS-Ripper</td>
			<td>Инструмент для DDoS атак на любой сервер. Также скрипт имеет гибкие настройки</td>
			<td><a href="https://github.com/palahsu/DDoS-Ripper" class="download">GitHub</a></td>
		</tr>

		<tr>
			<td>Spyglass</td>
			<td>Это инструмент личной поисковой системы, которая индексирует то, что вам нужно, предоставляя вам информацию в простом и быстром интерфейсе</td>
			<td><a href="https://github.com/spyglass-search/spyglass" class="download">GitHub</a></td>
		</tr>

		<tr>
			<td>Скрипт для автоматических спам рассылок по чатам телеграм</td>
			<td>Скрипт телеграм-бота для автоматическиз спам-рассылок по чатам пиара/услуг. Язык программирования: python 3.7. Модули: telebot, pyrogram. База данных: SQLite3</td>
			<td><a href="https://t.me/okulus_hub/351" class="download">Пост в нашем телеграм-канале</a></td>
		</tr>

		<tr>
			<td>KeePass 2.X Master Password Dumper (CVE-2023-32784)</td>
			<td>KeePass 2.X дампер паролей (CVE-2023-32784)</td>
			<td><a href="https://github.com/vdohney/keepass-password-dumper" class="download">Github</a></td>
		</tr>

		<tr>
			<td>SpiderFoot</td>
			<td>SpiderFoot - это инструмент, входящий в список из наиболее продвинутых и современных OSINT утилит, содержащая в себе более 200 модулей для поиска. Утилита позволяет провести расследование зная IP-адрес, номер телефона, никнейм в социальных сетях, адрес электронной почты или даже биткоин адрес.</td>
			<td><a href="https://github.com/smicallef/spiderfoot" class="download">Github</a></td>
		</tr>
	</table>
	<br>
{% endblock %}
