{% extends 'base.html' %}

{% block title %}Okulus Hub: Главная{% endblock %}

{% block content %}
	<h2 class='title'>Софт и скрипты</h2>
	<hr>
	<br>
	<table>
		<tr>
			<th>Название</th>
			<th>Описание</th>
			<th>Ссылка</th>
		</tr>

		<tr>
			<td>Телеграм фишер-бот</td>
			<td>Телеграм бот для кражи сессий. Пользователь пишет боту, через кнопку отправляет ему номер телефона, бот запросит код и получает доступ к сессии.</td>
			<td><a href="https://t.me/okulus_hub/8" class='download'>Пост в нашем телеграм-канале</a></td>
		</tr>

		<tr>
			<td>SOCM Intelligence</td>
			<td>Набор инструментов для анализа социальных сетей</td>
			<td><a href="https://github.com/CScorza/SOCMIntelligence" class="download">GitHub</a></td>
		</tr>

		<tr>
			<td>DDoS Pack</td>
			<td>Набор из инструментов, программ, DDoS/DoS-утилит, скриптов, и мануалов по DoS/DDoS атакам</td>
			<td><a href="https://t.me/okulus_hub/192" class="download">Пост в нашем телеграм-канале</a></td>
		</tr>
	</table>
	<br>
{% endblock %}
