{% extends 'base.html' %}

{% block title %}Okulus Hub: Главная{% endblock %}

{% block content %}
	<h2 class='title'>Мануалы и книги</h2>
	<hr>
	<br>
	<table>
		<tr>
			<th>Название</th>
			<th>Описание</th>
			<th>Ссылка</th>
		</tr>

		<tr>
			<td>DDoS Pack</td>
			<td>Набор из инструментов, программ, DDoS/DoS-утилит, скриптов, и мануалов по DoS/DDoS атакам</td>
			<td><a href="https://t.me/okulus_hub/192" class="download">Пост в нашем телеграм-канале</a></td>
		</tr>

		<tr>
			<td>Python For Osint. 21-day course for beginners</td>
			<td>Курс для тех, кто хочет проффесионально заниматься OSINT или просто интересуется расследованиями и исследованиями открытых данных. Основная цель курса - не научить писать на python, а научить тратить меньше времени на рутинные задачи OSINT</td>
			<td><a href="https://t.me/okulus_hub/364" class="download">Пост в нашем телеграм-канале</a></td>
		</tr>

		<tr>
			<td>Книга анонима</td>
			<td>Книга про то, как достичь полной анонимности. Рекомендуем.</td>
			<td><a href="https://t.me/okulus_hub/349" class="download">Пост в нашем телеграм-канале</a></td>
		</tr>

		<tr>
			<td>KeePass 2.X Master Password Dumper (CVE-2023-32784)</td>
			<td>KeePass 2.X дампер паролей (CVE-2023-32784)</td>
			<td><a href="https://github.com/vdohney/keepass-password-dumper" class="download">Github</a></td>
		</tr>

		<tr>
			<td>Призрак в сети</td>
			<td>"Призрак в сети" - книга легендарного Кевина Митника.</td>
			<td><a href="https://t.me/okulus_hub/336" class="download">Пост в нашем телеграм-канале</a></td>
		</tr>
	</table>
	<br>
{% endblock %}
