{% extends 'base.html' %}

{% block title %}Okulus Hub: Главная{% endblock %}

{% block content %}
	<h2 class='title'>Мануалы и инструкции</h2>
	<hr>
	<br>
	<table>
		<tr>
			<th>Название</th>
			<th>Описание</th>
			<th>Ссылка</th>
		</tr>

		<tr>
			<td>DDoS Pack</td>
			<td>Набор из инструментов, программ, DDoS/DoS-утилит, скриптов, и мануалов по DoS/DDoS атакам</td>
			<td><a href="https://t.me/okulus_hub/192" class="download">Пост в нашем телеграм-канале</a></td>
		</tr>
	</table>
	<br>
{% endblock %}
