{% extends 'base.html' %}

{% block title %}Okulus Hub: Статьи{% endblock %}

{% block content %}
	<h2 class='title'>Статьи</h2>
	<hr>
	<p>Фильтр по тегам:</p>
	<div class="tag"><a href="/posts">Все посты</a></div>
	{% for exists_tag in tags %}
		{% if tag == exists_tag %}
			<div class="choiced-tag"><a href="/posts?tag={{ exists_tag }}">{{ exists_tag }}</a></div>
		{% else %}
			<div class="tag"><a href="/posts?tag={{ exists_tag }}">{{ exists_tag }}</a></div>
		{% endif %}
	{% endfor %}
	{% for post in posts %}
		{% if tag == 'all' %}
			<div class="post">
				<div class="post-title">
					<a href="{{ url_for('post', name=post.path.replace('articles/', '')) }}" class="post-link">{{ post.title }}</a>
				</div>
				<div class="post-body">
					<p>{{ post.description }}</p>
				</div>
				<div class="post-footer">
					{% for exist_tag in post.tag.split(',') %}
						<div class="tag"><a href="/posts?tag={{ exist_tag }}">{{ exist_tag }}</a></div>
					{% endfor %}
					<div class="date">Дата: {{ post.date }}</div>
				</div>
			</div>
		{% else %}
			{% if tag in post.tag.split(',') %}
			<div class="post">
				<div class="post-title">
					<a href="{{ url_for('post', name=post.path.replace('articles/', '')) }}" class="post-link">{{ post.title }}</a>
				</div>
				<div class="post-body">
					<p>{{ post.description }}</p>
				</div>
				<div class="post-footer">
					{% for exist_tag in post.tag.split(',') %}
						<div class="tag"><a href="/posts?tag={{ exist_tag }}">{{ exist_tag }}</a></div>
					{% endfor %}
					<div class="date">Дата: {{ post.date }}</div>
				</div>
			</div>
			{% endif %}
		{% endif %}
	{% endfor %}
{% endblock %}
